<div class="good">
  <div class="container">
    <div><p>No privacy yet, hit me with a direct message lets finalize contracts be it
    an individual project, collaborative project, job role or whatever so far as it relates to software development and web design
    <a class="email" href="Barnsdooga@gmail.com">Barnsdooga@gmail.com</a>or check my profile for other means of contacting me</p></div>
    <div class="div"><a class="link" [routerLink]="['/dashboard']">Back to developer profile</a></div>

</div>

</div>
